.topSection {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 30rem);
    justify-content: center;

    gap: 1rem;
}

@media screen and (min-width: 80rem) {
    .topSection {
        grid-template-columns: repeat(2, 1fr);
    }

    .topSection > p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .topSection > p > textarea {
        flex: 1;
    }
}

.topSection section table {
    width: 100%;
}
